<!doctype html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="static/vri.css">
    <title>Trave Guide</title>
</head>
<style>
    .card{
        height: 30rem;
        width: 300rem;
    }
</style>

<body>
    <header>
        <h1>Your Travel Guide</h1>
        <p>Explore, Discover, Experience</p>
    </header>



    <div class="container">
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/a/a1.jpg" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                    <h3 class="card-title">Shree Ram Janm Bhoomi</h3>
                    <p class="card-text">Shree Ram Janm Bhoomi, revered as the birthplace of Lord Rama, symbolizes
                        cultural heritage, faith, and a historic pilgrimage site.</p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/a/a2.jpg" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                    <h3 class="card-title">Hanuman Garhi</h3>
                    <p class="card-text">Hanuman Garhi in Ayodhya, a sacred temple, echoes with devotion, attracting
                        pilgrims with its spiritual aura and historical significance.</p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/a/a3.jpg" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                    <h3 class="card-title">Kanak Bhavan, Ayodhya</h3>
                    <p class="card-text">Kanak Bhavan in Ayodhya, known for its divine aura, is a revered temple
                        dedicated to Lord Rama and Goddess Sita, attracting devotees</p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/a/a4.jpg" class="card-img-top" alt="..." height="200">
                <div class="card-body">
                    <h3 class="card-title">Dashrath Bhavan</h3>
                    <p class="card-text">Dashrath Bhavan, a significant shrine in Ayodhya, honors King Dasharatha,
                        showcasing rich heritage and religious reverence for Lord Rama's father.       </p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/v1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/v1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/v1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="card" style="width: 18rem;">
                <img src="static/image/v1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to your Package</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    -->
    <footer>
        <p>&copy; 2023 Trave Guide. All rights reserved.</p>
    </footer>

</body>

</html>