<!doctype html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
        {% load static %}
    <link rel="stylesheet" href="static/style.css">
    <title>Tour and Travels</title>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" id="navBar">
                <a class="navbar-brand" href="#">
                    <h2>WELCOME</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                ExploreMore
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Vacation</a></li>
                                <li><a class="dropdown-item" href="#" >Couples</a></li>
                                <li><a class="dropdown-item" href="#">Full Family Package</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Ratings</a></li>
                            </ul>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary btn-outline-primary"><a href="register.html">Register</a></button>
                    <button type="button" class="btn btn-secondary btn-outline-primary"><a href="admin/">Sign In</a></button>
                </div>
            </div>
        </nav>
    </div>

    <div class="container2">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="static/image/1.jpg" class="d-block w-100" alt="..." height="550" width="1200">
                    <div class="carousel-caption d-none d-md-block">
                        <p>What To Do In India ,Don't Worry</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="static/image/2.jpg" class="d-block w-100" alt="..." height="550" width="1200">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="static/image/3.jpg" class="d-block w-100" alt="..." height="550" width="1200">
                    <div class="carousel-caption d-none d-md-block">


                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container2">
        <h1>Some Beautiful Tourist Spot For you</h1>

        <div class="box1">
            <h2>Vrindavan</h2>
           <a href="vrindavan.html"> <img src="static/image/vindavan.jpg" alt="" srcset="" height="300" width="500"></a>
            <p>
                Vrindavan, a timeless sanctuary nestled on the banks of the sacred Yamuna River, cradles a temple that
                stands as a testament to devotion and divine aesthetics. The air in Vrindavan carries whispers of
                ancient hymns, and within this ethereal realm rises the magnificent temple, a sublime expression of
                spirituality.
            </p>
            <p>
                As the first rays of dawn caress the spires of the Vrindavan temple, the golden hues of the rising sun
                dance in harmony with the temple's intricate architecture. Its domes reach towards the heavens, adorned
                with ornate carvings that narrate tales of divine love and transcendental bliss. The temple's walls,
                weathered by time, echo the footsteps of pilgrims who have sought solace within its sacred embrace for
                centuries.
            </p>
            <p>
                Upon entering, a gentle fragrance of incense and flowers envelopes the senses, leading devotees into a
                realm where the material and the spiritual converge. The sanctum within echoes with the mellifluous
                chants, offering a melodic backdrop to the devout as they bow in reverence. The deity enshrined in the
                heart of the temple emanates an aura of divine grace, inviting seekers to partake in the boundless love
                that permeates the hallowed space.
            </p>
        </div>


        <div class="box2">
            <h2>Mathura</h2>
            <a href="mathura.html"><img src="static/image/mathura.jpg" alt="" srcset="" height="300" width="500"></a>
            <p>
                Mathura, the sacred abode where legends and spirituality converge, cradles the revered Shri Krishna
                Janmabhoomi, a site that breathes life into the divine narrative of Lord Krishna's birth. As the sun
                gently bathes the city in its golden glow, pilgrims and seekers alike flock to this hallowed ground,
                where history and myth intertwine seamlessly.
            </p>
            <p>
                The Shri Krishna Janmabhoomi is more than a physical space; it is a living chronicle of devotion. The
                air resonates with the echoes of ancient hymns, and the stone walls of the temple bear witness to the
                passage of epochs. Pilgrims, draped in vibrant hues, traverse the sacred grounds with reverence,
                retracing the footsteps of Lord Krishna's earthly advent.
            </p>
            <p>
                Upon entering the temple precincts, a palpable sense of sanctity prevails. The architecture, adorned
                with intricate carvings and embellishments, narrates the cosmic saga of Krishna's divine play. The
                sanctum, where the Lord was born, emanates a celestial aura, drawing devotees into a timeless communion
                with the divine. The deity's presence is felt in every flicker of the sacred flame and every resonating
                note of devotional hymns that fill the air.
            </p>
        </div>

        <div class="box1">
            <h2>Ayodhya</h2>
            <a href="Ayodhya.html"><img src="static/image/ayodhya.jpg" alt="" srcset="" height="300" width="500"></a>
            <p>

                Ayodhya, the sacred land where history intertwines with divinity, cradles the revered Janmabhoomi, the
                birthplace of Lord Rama. A place where time seems to stand still, Ayodhya embodies the essence of
                devotion and righteousness, with the epicenter being the hallowed grounds where the Prince of Ayodhya
                took his earthly form.
            </p>
            <p>
                The temple architecture, inspired by timeless Vedic design, stands as a symbol of the grandeur that
                befits the birthplace of a divine incarnation. Ornate carvings depict the life and legends of Lord Rama,
                narrating tales of valor, sacrifice, and unwavering devotion. The temple's spires reach skyward, as if
                in communion with the heavens, echoing the lofty ideals that Lord Rama embodied during his earthly
                sojourn.
            </p>
            <p>
                Ayodhya, with its Janmabhoomi, stands not only as a testament to the historical roots of a revered deity
                but also as an enduring symbol of the cultural and spiritual tapestry that defines the soul of India. It
                beckons the faithful, the seekers, and the curious alike to partake in the timeless journey of
                discovering the essence of dharma and the eternal legacy of Lord Rama.
            </p>
        </div>


        <div class="box2">
            <h2>Rajasthan</h2>
           <a href="rajasthan.html"> <img src="static/image/eklinji.jpg" alt="" srcset="" height="300" width="500"></a>
            <p>
                In the heart of the mystical landscape of Rajasthan, where the golden sands whisper tales of antiquity,
                stands the resplendent Eklingji Temple, a testament to the rich cultural tapestry woven through the
                centuries. Nestled in the Aravalli Range, this sacred edifice emerges as a sanctum of devotion and
                architectural marvel, captivating the soul with its divine aura.
            </p>
            <p>
                As the first light of dawn bathes the temple's intricate spires, Eklingji comes alive in a symphony of
                ochre and saffron hues. The temple's architecture, a harmonious blend of marble and sandstone, reflects
                the finesse of the Mewar artisans who sculpted it into existence. Ornate carvings adorn every inch,
                depicting celestial beings, mythical creatures, and scenes from Hindu mythology, inviting visitors into
                a realm where the past seamlessly converges with the present.
            <p>
                Upon crossing the threshold, a sense of serenity descends, accompanied by the fragrance of incense that
                curls through the air. The sanctum sanctorum enshrines the divine presence of Lord Shiva in his revered
                form as Eklingji, a four-faced deity, each countenance a symbol of cosmic wisdom. Pilgrims, their
                foreheads adorned with vermillion, offer prayers that resonate with the rhythmic chants echoing within
                the temple, creating an atmosphere charged with spiritual energy.
            </p>
        </div>

    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    -->
</body>

<footer>
    <div>
        <p>&copy; 2023 Trave Guide. All rights reserved.</p>
        <p>Address: 123 Main Street, Cityville</p>
        <p>Email: info@TraveGuide.com</p>
    </div>
</footer>

</html>